@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro:wght@300;400&display=swap");

$color-blue: #195a75;
$color-grey: #455a64;
$color-white: #fff;
$color-light-grey: #f6f6f6;
$color-chat-box: #bacdd5;

$primary-font: "Fjalla One", sans-serif;
$secondary-font: "Source Sans Pro", sans-serif;

$br-large: 1000px;
$br-mob: 800px;
$br-chat: 765px;
